<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fundamentalplasmaparameters"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fundamentalplasmaparameters.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.FrequenciesActivity"
            android:label="@string/title_activity_frequencies"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.LengthsActivity"
            android:label="@string/title_activity_lengths"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.VelocitiesActivity"
            android:label="@string/title_activity_velocities"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.DimensionlessActivity"
            android:label="@string/title_activity_dimensionless"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.MiscellaneousActivity"
            android:label="@string/title_activity_miscellaneous"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ElectronGyrofrequency"
            android:label="@string/title_activity_electron_gyrofrequency"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.IonGyrofrequency"
            android:label="@string/title_activity_ion_gyrofrequency"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ElectronPlasmaFrequency"
            android:label="@string/title_activity_electron_plasma_frequency"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.IonPlasmaFrequency"
            android:label="@string/title_activity_ion_plasma_frequency"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ElectronTrappingRate"
            android:label="@string/title_activity_electron_trapping_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.IonTrappingRate"
            android:label="@string/title_activity_ion_trapping_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ElectronCollisionRate"
            android:label="@string/title_activity_electron_collision_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.IonCollisionRate"
            android:label="@string/title_activity_ion_collision_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ElectronDeBroglieLength"
            android:label="@string/title_activity_electron_de_broglie_length"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ClassicalDistMinApp"
            android:label="@string/title_activity_classical_dist_min_app"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.ElectronGyroradius"
            android:label="@string/title_activity_electron_gyroradius"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.fundamentalplasmaparameters.IonGyroradius"
            android:label="@string/title_activity_ion_gyroradius"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
